{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

{% set aoe = null %}
{% set services = null %}
<div class="card">
{% if title %}
  <h3 class="card__title">{{ title }}</h3>
{% endif %}
<ul class="list--hyphen-bullet card__content">
  {% for row in rows|slice(0, 3) %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}

  {% set aoe = row.content["#row"].taxonomy_term_field_data_node__field_site_topics_tid %}
  {% set services = row.content["#row"].taxonomy_term_field_data_node__field_site_services_tid %}

  <li{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </li>
{% endfor %}
</ul>
<div class="more-link">
  <a href="/articles/{{ aoe }}/{{ services }}">more ...</a>
</div>
</div>
